@font-face{
font-family: title;
src: url('../font/menu.woff'),
	 url('../font/menu.ttf'),
	 url('../font/menu.eot');
} 

body{	
	background-color:#12110E;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	margin-bottom: 0;
	margin-top: 0;
	width: 100%;
	overflow-x: hidden !important;
}

p {
	line-height: 25px;
}




.logobig {
	background-color:#12110E;
	position: relative;
	left: 50%;
	width:940px;
	margin-left: -470px;
	margin-top: 100px;
	margin-bottom: 100px;

}

.logobig > img {
	position: relative;
	/*top:30px;*/
	width: 940px;
	cursor: pointer;
}

/*NEWSLETTRE*/

.newspos{
	margin-top: 0px;
	margin-bottom: 100px;
	position: relative;
	left: 50%;
	margin-left: -230px;
}

.newstxt {
	font-size: 22px !important;
	color:#F8F8F8;
}

.newsinput {
	font-size: 14px !important;
}

.arrow{
	position: relative;
	left: 50%;
	margin-left: -139px;
	border-radius: 50%;
	width:210px;
	cursor: pointer;
}

.containera{
	background-color: #12110E;
	opacity: 0;
	position: relative;
	left: 50%;
	margin-left: -480px;
	width:945px;
	z-index:9999;
	/*position: relative;
	top: -8px;*/
	padding:20px 20px 0 20px;
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	
}

.header{
	margin-bottom: 00px;
	position: relative;
	min-height: 60px; 
	top:-0px;
	left: 0px;
}

.all{
	position: relative;
	top: -00px;
}

.tit{
	width: 400px !important;
}

.logo {
	position: relative;
	left:16px;
	top: 0px;
	opacity: 0;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.viewlogo {
	opacity: 1 !important;
}

.logo:hover{
	cursor: pointer;
}

.menu_container{
	position: relative;
	opacity:1;
	z-index: 9999;
	/*top: 20px;*/
	left:-30px;
	/*background: url(../img/back/menu_shadow.png) 80% 100% no-repeat;*/
	width: 960px;
	height: 70px;
	margin-bottom: 00px;
	background-color: #12110E;
	box-shadow:0 5px 20px -5px #12110E;
}

.ombremenu{
	position: relative;
	top: -0px;
	z-index: 9999;
	height: 12px;
}

/*.menu:after{
	content: "";
    width: 950px;
    height: 1px;
    margin-top: -38px;
    margin-left: -475px;
	display: block;
    position: relative;
    left: 50%;
    z-index: 9998;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
   -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
}*/

.f-nav{ 
	z-index: 500; 
	position: fixed; 
	left:50%;
	margin-left: -480px;
	margin-bottom: -80px !important;
	top :0;
	/*box-shadow: 0 3px 0px 0 #cccccc; */
}

.slide{
	transform:translateX(100px);
	-ms-transform:translateX(100px); /* IE 9 */
	-webkit-transform:translateX(100px); /* Safari and Chrome */
	-webkit-transition: all .3s .1s;
  	-moz-transition: all .3s .1s;
  	-o-transition: all .3s .1s;
  	transition: all .3s .1s;
}


div .menu {
	font-family: title;
}

.menu {
	color:#f8f8f8;
	font-size:14px;
	padding-left: 280px;
	position: relative;
	left: -95px;
	top: -62px;
	-webkit-transition: all .3s .1s;
  	-moz-transition: all .3s .1s;
  	-o-transition: all .3s .1s;
  	transition: all .3s .1s;

}

.menu ul li {
	font-size:14px;
	text-decoration: none;
	display: inline;
}
	
.menu li:hover{
	color:#fc699b;
	cursor: pointer;
}

.menucentre{
	width: 65px !important;
}

.menuprix{
	width: 77px  !important;
}

.menumarque{
	width: 146px  !important;
}

.submenu{
	font-family: title;
	list-style: none;
	color: #f8f8f8;
	box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.3);
	width: 160px;
	z-index: 10000;
	position: relative;
	padding-left: 0 !important;
	top: -168px;
	left: 500px;
}

.submenufleche{
	color: #f8f8f8;
	position: relative;
	margin-top: 30px;
	top: -153px;
	left: 505px;
	
}

.submenu > ul:before{
	content: '&#x25B2;';
	display: block;
	border-color: transparent transparent #212121 transparent;
	border-style: solid;
	border-width: 10px;
}

.submenu > li{
	font-family: title;
	font-size: 12px;
	list-style-type: none;
	opacity: 1;
	width: ;
	height: 18px !important;
	position: relative;
	z-index: 1000;
	padding: 10px 0 10px 10px;
	background-color: #212121;
	border-bottom: 2px #efefef;
	-webkit-transition: all .3s .1s;
  	-moz-transition: all .3s .1s;
  	-o-transition: all .3s .1s;
  	transition: all .3s .1s;
}

.trans{
	background-color: transparent !important;
}

.submenu li:hover{
	opacity: 0.9;
	cursor: pointer;

}

.link {
	padding-right: 18px;
}


.lang {
	padding-right:0px;
}

.langue{
	position: relative;
	top:-45px;
	left:665px;
	-webkit-transition: all .9s;
  	-moz-transition: all .9s;
  	-o-transition: all .9s;
  	transition: all .9s;
}

.langueshift{
	left: 550px;
	-webkit-transition: all .35s .009s;
  	-moz-transition: all .35s .009s;
  	-o-transition: all .35s .009s;
  	transition: all .35s .009s;
}

.interligne{
	background: url(../img/back/interligne.png) center bottom no-repeat;
	height: 10px;
	margin-top: 20px;
}



/*Reste de la page*/



.container{
	background-color: #f8f8f8;
	position: relative;
	left: 50%;
	opacity: 0;
	margin-left: -470px;
	width:900px;
	/*position: relative;
	top: -8px;*/
	padding:20px 20px 0 20px;
	box-shadow:0px 0px 10px 0px grey;
	-webkit-transition: all .35s .009s;
  	-moz-transition: all .35s .009s;
  	-o-transition: all .35s .009s;
  	transition: all .35s .009s;
	
}

.all{
	margin-top: 0px;
	min-height: 600px;
}

#slider{
	/*margin-top: 20px;*/
	/*margin-bottom: 20px;*/
}

.imgslider{
	width: 900px;
}

.acceuilpromo{
	padding-left: 18px;
}

.textacceuil {
	
}

.acceuilitem {
	display: inline-block;
	width: 250px;
}

.acceuilitem:hover{
	cursor: pointer;
}

.margin1{
	margin-right: 50px;
}


/*DIFFERENTS TEXTES*/

h1 {
	font-size: 29px;
	color: #76715d;
	font-family: title;
	font-weight: normal !important;
	margin-top: 0;
	margin-bottom: 0;
	display: inline;
	white-space: nowrap;
}


h2 {
	font-size: 27px;
	color: #76715d;
	font-family: title;
	font-weight: normal !important;
	padding-top: 5px;
	margin-bottom: 0;
	white-space: nowrap;
}

h3 {
	font-size: 17px;
	color: #76715d;
	font-family: title;
	font-weight: normal !important;
	white-space: nowrap;
}

h4 {
	font-size: 20px;
	color: #76715d;
	font-family: title;
	font-weight: normal !important;
	margin-bottom: 10px;
	white-space: nowrap;

}

.pink{
	color:#fc699b;
}

.acceuil_contentimg{
	background: url("../img/back/some_bg.png") repeat scroll 0% 0% transparent;
	width: 250px;
	margin-top: 15px;
	height: 148px;
	padding: 5px;
}

.pagetitle{
	position: relative;
	top: 7px;
	left: 12px;
}

.imgbig{
	width: 900px;
	height: 300px;
	border-radius: 4px;
	margin-top: 14px;
}


/*CSS POUR LA PAGE CENTRES*/

.centres{
	/*display: inline;*/
}

.centreinfo{
	width: 280px;
	display: inline-block;

}

.centreimg{
	display: inline-block;
	
}

/*CSS POUR LA PAGE TARIFS*/

.tarifs{
	margin-top: 20px;
}

.table{
	display: inline-block;
	width: 500px;
}

.pricetable{
	width:453px ;
	border:0 ; 
	padding:5px;
}

.tarifimg{
	border-radius: 4px;
	display: inline-block;
	position: absolute;
	top: 
}

.tarifimg>img{
	width: 400px;
}

/*CSS POUR LES PAGE SOINS*/

.soinsgauche{
	display: inline-block;
	margin-right: 280px;
	position: relative;
	top: -110px;
}

.soinsimages img:hover{
	cursor: pointer;
}

.soinsdroite{
	display: inline-block;
}

.imgsoins{
	display: block;
	margin-top: 10px;
}

.textretrait{
	padding-left: 30px;
}

.aligncenter{
	text-align: center;
}

.ligneblock{
	display: inline-block;
}

.axe{
	width: 600px;
	padding-left: 20px;
}

.misenl{
	width: 250px;
	display: inline-block;
}

.misenr{
	width: 600px;
	display: inline-block;
	position: absolute;
	top;
}


/*CSS POUR LES PAGE CONTACT*/

.contact {
	position: relative;
	top: 20px;
}

.clic:hover{
	cursor: pointer;
	opacity: 0.6;
}

.contactr{
	padding-left: 40px;
	position: relative;
	left: 220px;
	margin-bottom: 100px;
}

.top{
	position: absolute;
	top:0px;
}

.meil {
	padding-right: 4px;
}


label{
	text-align: center;
	color: #76715d;
	font-family: title;
	font-weight: normal !important;
}

input[type=text]
{
    border:solid 1px #BFBDBD;
    color: #272822;
    height: 28px;
    padding-left:10px;
    width: 180px;
    box-shadow: 1px 1px 0 #828181 inset;
}
input[type=submit]
{
    border:solid 1px #BFBDBD;
    border-radius: 4px;
    color: #272822;
    height: 29px;
    
}

.styled {
	width: 600px;
	display: absolute;
	top;
	height: 170px;
	border:solid 1px #BFBDBD;
	border-radius: 4px;
	padding: 5px;
	font-family: title, sans-serif;
	font-size: 12px;
	box-shadow: 1px 1px 0 #828181 inset;
	resize:none;
}


input[type=button]
{
    background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
}

input[type=button], input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: title,Arial;
}

.field_with_errors{
	-webkit-box-shadow: 0 0 0 5px rgba(203, 25, 19, 0.3) !important;
    -moz-box-shadow: 0 0 0 5px rgba(203, 25, 19, 0.3) !important;
    box-shadow: 0 0 0 5px rgba(203, 25, 19, 0.3) !important;
	box-shadow:0px 0px !important;
}


footer {
	/*margin-bottom:25px;*/
	background-color: #f8f8f8;
	/*width:940px;*/
	margin: auto;
}

/*FOOTER*/

.copy {
	text-decoration: none;
	font-size: 10px;
	margin-right: 440px;
}

.mentions:hover{
	opacity: 0.6;
	cursor: pointer;
}

.footerlink li:hover{
	color:#fc699b;
	cursor: pointer;
}

.footerlink ul li{
	/*float: right;*/
	text-decoration: none;
	display: inline;
}